html, body {
  background: #fff;
  margin: 0;
}
.ex4 {
  padding: 60px 0;
  text-align: center;
  background: #333;
}
.ex4 i {
  margin: 0 20px;
  color: #fff;
  cursor: pointer;
}

.ex4 i:hover {
  color: #ef43a1;
  -moz-transition: all 600ms cubic-bezier(0.99, 0, 0.57, 0.94);
  -o-transition: all 600ms cubic-bezier(0.99, 0, 0.57, 0.94);
  -webkit-transition: all 600ms cubic-bezier(0.99, 0, 0.57, 0.94);
  transition: all 600ms cubic-bezier(0.99, 0, 0.57, 0.94);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
